body {
    margin: 30px;
    font-family: system-ui;
  }
  
  .topnav {
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(117, 117, 117);
    font-family: sans-serif;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    border-radius: 8px;
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    border-radius: 8px;
    background-color: #83684a;
    color: white;
   
    
  }
